---
import removeTrailingSlash from "@/utils/removeTrailingSlash";
import presentation from "@/data/presentation";
import SocialLinks from "./SocialLinks.astro";
import ThemeIcon from "./ThemeIcon.astro";

const pathname = removeTrailingSlash(Astro.url.pathname);
---

<header class="z-40 flex w-full flex-col gap-6 md:flex-col md:justify-between">
  <div class="flex justify-between">
    <a
      href={`mailto:${presentation.mail}`}
      class="text-xl hover:text-neutral-600 dark:hover:text-neutral-100"
      >{presentation.mail}</a
    >
    <ThemeIcon />
  </div>
  <nav role="navigation" class="flex justify-between">
    <ul role="list" class="flex flex-row gap-2">
      <li>
        <a
          href="/"
          class:list={{
            ["dark:hover:text-neutral-100 hover:text-neutral-600"]: true,
            ["dark:text-neutral-100"]: pathname === "/",
          }}>Início</a
        >
      </li>
      <li>/</li>
      <li>
        <a
          href="/posts"
          class:list={{
            ["dark:hover:text-neutral-100 hover:text-neutral-600"]: true,
            ["dark:text-neutral-100"]: pathname === "/posts",
          }}>Posts</a
        >
      </li>
    </ul>

    <SocialLinks />
  </nav>

  <hr class="w-full opacity-30" />
</header>
