---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a"> & {
  label: string;
  isUnderline?: boolean;
};

const { label, isUnderline, ...props } = Astro.props;
---

<a
  href={props.href}
  class:list={{
    ["dark:text-neutral-100 dark:hover:text-neutral-400 hover:text-neutral-500 cursor-pointer"]: true,
    ["underline decoration-dashed underline-offset-8"]: isUnderline,
  }}
  {...props}
  rel="noreferrer"
  target="_blank"
>
  {label}
  <span class="sr-only">{label} link</span>
</a>
